In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
path=os.getcwd()+'/Big_mart.csv'
df=pd.read_csv(path)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [4]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
df.describe(include=['object','bool'])

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
count,8523,8523,8523,8523,6113,8523,8523
unique,1559,5,16,10,3,3,4
top,FDW13,Low Fat,Fruits and Vegetables,OUT027,Medium,Tier 3,Supermarket Type1
freq,10,5089,1232,935,2793,3350,5577

In [6]:
df=df.fillna(df.mean())

In [7]:
df['Item_Visibility'].replace(0.000000,df['Item_Visibility'].mean(),inplace=True)

In [8]:
df['Outlet_Size']=df['Outlet_Size'].fillna((df['Outlet_Size'].mode()[0]))

In [9]:
df['Item_Fat_Content'].replace(['LF','low fat'],'Low Fat',inplace=True)
df['Item_Fat_Content'].replace('reg','Regular',inplace=True)

In [10]:

df['Item_Type_Combined'] = df['Item_Identifier'].apply(lambda x: x[0:2])

df['Item_Type_Combined'] = df['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})

In [11]:
df.describe(include=['object','bool'])

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Type_Combined
count,8523,8523,8523,8523,8523,8523,8523,8523
unique,1559,2,16,10,3,3,4,3
top,FDW13,Low Fat,Fruits and Vegetables,OUT027,Medium,Tier 3,Supermarket Type1,Food
freq,10,5517,1232,935,5203,3350,5577,6125

In [12]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
Item_Type_Combined            object
dtype: object

In [13]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [17]:
df['Item_Fat_Content']=le.fit_transform(df['Item_Fat_Content'])

In [18]:
df['Outlet_Identifier']=le.fit_transform(df['Outlet_Identifier'])

In [19]:
df['Outlet_Size']=le.fit_transform(df['Outlet_Size'])

In [20]:
df['Outlet_Location_Type']=le.fit_transform(df['Outlet_Location_Type'])

In [21]:
df['Outlet_Type']=le.fit_transform(df['Outlet_Type'])

In [16]:
df['Item_Type_Combined']=le.fit_transform(df['Item_Type_Combined'])

In [22]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content               int64
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier              int64
Outlet_Establishment_Year      int64
Outlet_Size                    int64
Outlet_Location_Type           int64
Outlet_Type                    int64
Item_Outlet_Sales            float64
Item_Type_Combined             int64
dtype: object

In [24]:
df=pd.get_dummies(df,columns=['Item_Fat_Content','Item_Type','Outlet_Identifier','Outlet_Type','Outlet_Size','Outlet_Location_Type','Item_Type_Combined'])

In [25]:
df.dtypes

Item_Identifier                     object
Item_Weight                        float64
Item_Visibility                    float64
Item_MRP                           float64
Outlet_Establishment_Year            int64
Item_Outlet_Sales                  float64
Item_Fat_Content_0                   uint8
Item_Fat_Content_1                   uint8
Item_Type_Baking Goods               uint8
Item_Type_Breads                     uint8
Item_Type_Breakfast                  uint8
Item_Type_Canned                     uint8
Item_Type_Dairy                      uint8
Item_Type_Frozen Foods               uint8
Item_Type_Fruits and Vegetables      uint8
Item_Type_Hard Drinks                uint8
Item_Type_Health and Hygiene         uint8
Item_Type_Household                  uint8
Item_Type_Meat                       uint8
Item_Type_Others                     uint8
Item_Type_Seafood                    uint8
Item_Type_Snack Foods                uint8
Item_Type_Soft Drinks                uint8
Item_Type_Starchy Foods              uint8
Outlet_Identifier_0                  uint8
Outlet_Identifier_1                  uint8
Outlet_Identifier_2                  uint8
Outlet_Identifier_3                  uint8
Outlet_Identifier_4                  uint8
Outlet_Identifier_5                  uint8
Outlet_Identifier_6                  uint8
Outlet_Identifier_7                  uint8
Outlet_Identifier_8                  uint8
Outlet_Identifier_9                  uint8
Outlet_Type_0                        uint8
Outlet_Type_1                        uint8
Outlet_Type_2                        uint8
Outlet_Type_3                        uint8
Outlet_Size_0                        uint8
Outlet_Size_1                        uint8
Outlet_Size_2                        uint8
Outlet_Location_Type_0               uint8
Outlet_Location_Type_1               uint8
Outlet_Location_Type_2               uint8
Item_Type_Combined_0                 uint8
Item_Type_Combined_1                 uint8
Item_Type_Combined_2                 uint8
dtype: object

In [26]:
x=df.drop(['Item_Identifier','Item_Outlet_Sales'],axis=1)

In [27]:
y=df['Item_Outlet_Sales']

In [29]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

In [30]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [31]:
y_pred=reg.predict(x_test)

In [34]:
from sklearn import metrics
metrics.explained_variance_score(y_test, y_pred)

0.5452964495641661